<h1>Invite Member</h1>
<h3>First Name</h3>
<input type="text" name="first_name">
<h3>Last Name</h3>
<input type="text" name="last_name">
<h3>Email</h3>
<input type="text" name="email">
<div>
	<button type="submit">Invite</button>
</div>